<a href="https://colab.research.google.com/github/greymetall/data_sience/blob/master/jun_anl_funnels_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import csv
import copy

funnel_by_month = {} # создаем словарь, где будут храниться словари за каждый месяц
funnel_by_device = {} # создаём словарь девайсов, где будут храниться словари словарей
funnel_by_gender = {} # создаём словарь пола, где будут храниться словари словарей словарей
funnel_template = {'1_home_page':0, '2_search_page':0, '3_payment_page':0, '4_payment_confirmation_page':0}
funnel_template1 = {'2015-01': funnel_template.copy(),
                    '2015-02': funnel_template.copy(),
                    '2015-03': funnel_template.copy(),
                    '2015-04': funnel_template.copy()}
funnel_template2 = {'Desktop': copy.deepcopy(funnel_template1), 'Mobile': copy.deepcopy(funnel_template1)}

with open('/content/drive/My Drive/Colab Notebooks/click_stream3.csv', mode='r') as csv_file: # открываем файл
    csv_reader = csv.DictReader(csv_file, fieldnames=['ID','page','date','device', 'Gender']) # читаем файл
    
    # проходим циклом по объекту csv_reader
    for row in csv_reader: # берем строку из объекта csv_reader

        page = list(row.values())[1] # вытаскиваем название страницы
        event_date = list(row.values())[2][:-3] # вытаскиваем дату в формате YYYY-MM
        device = list(row.values())[3] # устройство
        gender = list(row.values())[4] # пол

        if gender not in funnel_by_gender:
            funnel_by_gender[gender] = copy.deepcopy(funnel_template2)
            
        # проверяем условиями и прибавляем единицу к нужному ключу в словаре        
        if page == '1_home_page':
            funnel_by_gender[gender][device][event_date][page] += 1
        elif page == '2_search_page':
            funnel_by_gender[gender][device][event_date][page] += 1
        elif page == '3_payment_page':
            funnel_by_gender[gender][device][event_date][page] += 1
        else:
            funnel_by_gender[gender][device][event_date][page] += 1
               
funnel_by_gender

{'Female': {'Desktop': {'2015-01': {'1_home_page': 7546,
    '2_search_page': 3851,
    '3_payment_page': 625,
    '4_payment_confirmation_page': 33},
   '2015-02': {'1_home_page': 7448,
    '2_search_page': 3800,
    '3_payment_page': 605,
    '4_payment_confirmation_page': 26},
   '2015-03': {'1_home_page': 7512,
    '2_search_page': 3707,
    '3_payment_page': 162,
    '4_payment_confirmation_page': 6},
   '2015-04': {'1_home_page': 7491,
    '2_search_page': 3733,
    '3_payment_page': 138,
    '4_payment_confirmation_page': 9}},
  'Mobile': {'2015-01': {'1_home_page': 3868,
    '2_search_page': 3062,
    '3_payment_page': 618,
    '4_payment_confirmation_page': 76},
   '2015-02': {'1_home_page': 3751,
    '2_search_page': 3020,
    '3_payment_page': 630,
    '4_payment_confirmation_page': 60},
   '2015-03': {'1_home_page': 3738,
    '2_search_page': 747,
    '3_payment_page': 175,
    '4_payment_confirmation_page': 20},
   '2015-04': {'1_home_page': 3721,
    '2_search_page': 756,
    '3_payment_page': 147,
    '4_payment_confirmation_page': 11}}},
 'Male': {'Desktop': {'2015-01': {'1_home_page': 7504,
    '2_search_page': 3678,
    '3_payment_page': 596,
    '4_payment_confirmation_page': 27},
   '2015-02': {'1_home_page': 7602,
    '2_search_page': 3832,
    '3_payment_page': 586,
    '4_payment_confirmation_page': 28},
   '2015-03': {'1_home_page': 7538,
    '2_search_page': 3663,
    '3_payment_page': 134,
    '4_payment_confirmation_page': 8},
   '2015-04': {'1_home_page': 7559,
    '2_search_page': 3836,
    '3_payment_page': 164,
    '4_payment_confirmation_page': 13}},
  'Mobile': {'2015-01': {'1_home_page': 3682,
    '2_search_page': 2963,
    '3_payment_page': 551,
    '4_payment_confirmation_page': 53},
   '2015-02': {'1_home_page': 3799,
    '2_search_page': 3035,
    '3_payment_page': 591,
    '4_payment_confirmation_page': 59},
   '2015-03': {'1_home_page': 3812,
    '2_search_page': 762,
    '3_payment_page': 160,
    '4_payment_confirmation_page': 10},
   '2015-04': {'1_home_page': 3829,
    '2_search_page': 755,
    '3_payment_page': 148,
    '4_payment_confirmation_page': 13}}}}

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import math
df_female_m = pd.DataFrame(funnel_by_gender['Female']['Mobile'])
procent = lambda x: round(x * 100 / x[0], 2)
df_female_m.astype(str) + '(' + df_female_m.apply(procent).astype(str) + '%)'
df_female_m

                             2015-01  2015-02  2015-03  2015-04
1_home_page                     3868     3751     3738     3721
2_search_page                   3062     3020      747      756
3_payment_page                   618      630      175      147
4_payment_confirmation_page       76       60       20       11

In [ ]:
df_female_m.agg(procent)

                             2015-01  2015-02  2015-03  2015-04
1_home_page                   100.00   100.00   100.00   100.00
2_search_page                  79.16    80.51    19.98    20.32
3_payment_page                 15.98    16.80     4.68     3.95
4_payment_confirmation_page     1.96     1.60     0.54     0.30

In [ ]:
df_female_m['2015-04'].apply(math.sin)

1_home_page                    0.976656
2_search_page                  0.901762
3_payment_page                 0.609044
4_payment_confirmation_page   -0.999990
Name: 2015-04, dtype: float64

In [ ]:
df_female_m['2015-04'].agg(math.sin)

1_home_page                    0.976656
2_search_page                  0.901762
3_payment_page                 0.609044
4_payment_confirmation_page   -0.999990
Name: 2015-04, dtype: float64

In [ ]:
df_male_m = pd.DataFrame(funnel_by_gender['Male']['Mobile'])
df_male_m.astype(str) + '(' + df_male_m.apply(procent).astype(str) + '%)'

                                  2015-01  ...       2015-04
1_home_page                  3682(100.0%)  ...  3829(100.0%)
2_search_page                2963(80.47%)  ...   755(19.72%)
3_payment_page                551(14.96%)  ...    148(3.87%)
4_payment_confirmation_page     53(1.44%)  ...     13(0.34%)

[4 rows x 4 columns]

На **мобильных устройствах** помимо `страницы поиска`, видно также резкое падение на `странице подверждения` для мужчин в марте - аж в **два раза!**. И на 30% в январе.<br>
Также видно, что с января по март *мужчины переходили меньше женщин* к `странице оплаты` на *~10%*, но к апрелю показатели сравнялись.

In [ ]:
df_female_d = pd.DataFrame(funnel_by_gender['Female']['Desktop'])
df_female_d.astype(str) + '(' + df_female_d.apply(procent).astype(str) + '%)'

                                  2015-01  ...       2015-04
1_home_page                  7546(100.0%)  ...  7491(100.0%)
2_search_page                3851(51.03%)  ...  3733(49.83%)
3_payment_page                 625(8.28%)  ...    138(1.84%)
4_payment_confirmation_page     33(0.44%)  ...      9(0.12%)

[4 rows x 4 columns]

In [ ]:
df_male_d = pd.DataFrame(funnel_by_gender['Male']['Desktop'])
df_male_d.astype(str) + '(' + df_male_d.apply(procent).astype(str) + '%)'

                                  2015-01  ...       2015-04
1_home_page                  7504(100.0%)  ...  7559(100.0%)
2_search_page                3678(49.01%)  ...  3836(50.75%)
3_payment_page                 596(7.94%)  ...    164(2.17%)
4_payment_confirmation_page     27(0.36%)  ...     13(0.17%)

[4 rows x 4 columns]

На **десктопах** на `странице платежа` падение показателей для мужчин больше, чем для женщин. С января по март идёт падение. В марте разрыв между женщинами и мужчинами, перешедшими на `страницу оплаты`, составил *20%*.<br>
Однако, в апреле мужчины на *20%* больше переходили на `страницу оплаты заказа`.
На `страницу подтверждения заказа` ***мужчины переходили чаще женщин***, несмотря на более низкие показатели на `странице оплаты` с февраля по апрель. В матре конверсия перехода составила *6%* для мужчин против *3.7%* для женщин.<br>
В апреле конверсия перехода от `страницы оплаты` к `странице подтверждения` составила для мужчин *8%*, а для женщин *6.5%*.

###Выводы:
Мы выяснили, что на `странице поиска` для **мобильных устройств** в марте-апреле падение было ***и у мужчин и у женщин***. На `странице оплаты` в январе и феврале небольшое ухудшение показателей у ***мужчин***.<br>
А вот на `странице подтверждения` для ***мужчин*** падение составило *30%* в январе, а в марте - на *50%*! К апрелю показатели выровнялись.<br>
На **десктопах** на `странице оплаты` в матре было падение на *20%* у ***мужчин*** по сравнению с ***женщинами***, а вот в апреле - наоборот - у ***женщин*** показатели упали на *20%* по отношению к ***мужчинам***.<br>
На `странице подтверждения оплаты` наблюдается <u>сильное падение конверсии</u> для ***женщин*** в матре - всего *3.7%* против *6%* для ***мужчин***. В апреле <u>показатель конверсии</u> для ***женщин*** подрос до *6.5%*, а у мужчин - до *8%*.<br>
По итогам, обнаружены отконения показателей воронки в зависимости от пола посетителей страниц сайта. Но насколько значимы эти отклонения, ответить можно лишь после того, как будут сделаны A/B тесты.